@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap');

$lavender-web: #aaa1e4;
$copper-rose: #9C7178;
$light-steel-blue: #AFBED1;
$gunmetal: #202C39;
$aero: #7FBEEB;

// $body-bg: $light-steel-blue;
// $body-color: $gunmetal;

// $jumbotron-bg:  $light-steel-blue;

$enable-responsive-font-sizes: true;

$font-family-sans-serif: 'Karla', sans-serif;
$headings-font-family: 'Rubik', sans-serif;

$primary:       $lavender-web !default;
// $success:       $green-ryb !default;
// $info:          $green-cyan !default;
// $warning:       $vegas-gold !default;
// $danger:        $brick-red !default;
// $dark:          $persian-indigo !default;


// @import "./../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap";

/*UNIVERSAL*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
	flex: 1;
	align-items: center;
	justify-content: center;
	display: flex;
}


/*COURSE PAGE*/
#course-page section.jumbotron {
	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000;
}
/*PROFILE PAGE*/
ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}

ul {
	padding-left: 15px;
}

#profileContainer {
	flex: auto;
}


/*COURSES PAGE*/
.card {
	min-height: 100%;
	border: 2px solid rgb(0 0 0 / 34%);
	border-radius: 1.35rem;
}


