/*UNIVERSAL*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
	flex: 1;
	align-items: center;
	justify-content: center;
	display: flex;
}


/*COURSE PAGE*/
#course-page section.jumbotron {
	-webkit-box-shadow: 5px 5px 15px 5px #000000; 
	box-shadow: 5px 5px 15px 5px #000000;
}
/*PROFILE PAGE*/
ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}

ul {
	padding-left: 15px;
}

#profileContainer {
	flex: auto;
}


/*COURSES PAGE*/
.card {
	min-height: 100%;
	border: 2px solid rgb(0 0 0 / 34%);
	border-radius: 1.35rem;
}

